// Font Weights
$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 600;
$font-weight--very-bold  : 700;
$font-weight--ultra-bold : 900;

// Font Sizes
$font-size--small : .85rem;
// Breakpoints
$brk--xs    : 1px;
$brk--sm    : 768px;
$brk--md    : 992px;
$brk--lg    : 1260px;

//Theme colours
$blue-main          : #56b3d1;
$grey-text          : #706f6f;
$darkblue-headings  : #000030;