// Icon styling
@mixin icons {
  display: flex;  
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  svg {
    fill: $blue-main; 
    max-width: 60%;
    max-height: 50%;     
  }  
}

// Scroll up/down link styling
@mixin scroll-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  font-size: $font-size--small;
  &:hover { text-decoration: underline; }
  svg {
    height: 25px;
    width: 25px;
    margin: 0 auto;
  }
}

// Border large screen styling
@mixin border-lg-style {
  background-color: white; 
  border-right: 3px solid $blue-main;
}

// Raise-up effect when hovering
@mixin raise-up {
  transition: all 0.5s ease;
  transform: translateY(0);
  &:hover {
    transform: translateY(-10px);
  }
}
