// Icon styling
@mixin icons {
  display: flex;  
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  svg {
    fill: var(--main-theme); 
    max-width: 60%;
    max-height: 50%;     
  }  
}

// Scroll up/down link styling
@mixin scroll-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  font-size: $font-size--small;
  &:hover { text-decoration: underline; }
  svg {
    height: 25px;
    width: 25px;
    margin: 0 auto;
  }
}

// Button hover styling
@mixin button-hover {
  &:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--white-same) 90%, black 10%);
  }
}

// Border large screen styling
@mixin border-lg-style {
  border-right: 1px solid var(--form-fill);
}

// Raise-up effect when hovering
@mixin raise-up {
  transition: all 0.5s ease;
  transform: translateY(0);
  &:hover {
    transform: translateY(-10px);
  }
}

// Day/night slider styling
@mixin slider-style {
  .mode {
    display: flex;
    position: relative;
    align-items: center;
    width: 60px;
    height: 34px;
    background-color: var(--form-border);
    border-radius: 34px;
  }

  .mode input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .toggle-circle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white-same);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }

  .toggle-circle:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--toggle-switch);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  #toggle:checked + .toggle-circle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}