// == Day/night functionality ==
// Defining colours for 'day' theme
html {
  --header: #{$darkblue-headings};
  --main-theme: #{$blue-main};
  --main-background: #{$background-main};
  --text-alt: #{$grey-text};
  --form-fill: #{$form-fill};
  --form-border: #{$form-border};
  --white-same: #{$white-same};
  --blue-same: #{$blue-same};
  --toggle-switch: #{$toggle-switch};
  --code-example-bg: #{$code-example-bg};
  --code-example-text: #{$code-example-text};
  --code-example-comment: #{$code-example-comment};
  --code-example-highlight-1: #{$code-example-highlight-1};
  --code-example-highlight-2: #{$code-example-highlight-2};
}

// Defining colours for 'night' theme
[data-theme="night"] {
  --header: #{$darkblue-headings-night};
  --main-theme: #{$blue-main-night};
  --main-background: #{$background-main-night};
  --text-alt: #{$grey-text-night};
  --form-fill: #{$form-fill-night};
  --form-border: #{$form-border-night};
  --white-same: #{$white-same-night};
  --blue-same: #{$blue-same-night};
  --toggle-switch: #{$toggle-switch-night};
  --code-example-bg: #{$code-example-bg-night};
  --code-example-text: #{$code-example-text-night};
  --code-example-comment: #{$code-example-comment-night};
  --code-example-highlight-1: #{$code-example-highlight-1-night};
  --code-example-highlight-2: #{$code-example-highlight-2-night};
}