.banner {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  text-align: center;  
  background-image: url("../img/banner-bg.jpg");
  background-position: center;


  @media (min-width: $brk--md) {
    height: 50vh;
    width: 100%;
    margin-top: 0;
  }

  @media (min-width: $brk--lg) {
    height: 85vh;
  }

  &__text {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;


    h1 {
      font-weight: $font-weight--bold;
      color: white;
    }

    #animationContainer {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
    }

    #bannerAnimation {
      margin: auto;
    }

    p {
      margin-top: 2px;
      color: white;
    }
    
    &--link {
      color: white;
      @include scroll-links;
      margin-top: auto;
      svg { fill: white; }
    }
  }

  
}