.examples {
  padding: 10px;
  display: flex;
  flex-direction: column;

  .code-container {
    display: flex;
    flex-direction: column;
    @media (min-width: $brk--md) { flex-direction: row;}
  }

  .home-link {
    @include scroll-links;
    color: var(--header);
    svg { fill: var(--header); }
  }

  .code-example { 
    display: flex;
    padding: 6px;
    background-color: var(--code-example-bg);
    color: var(--code-example-text);
    border: 2px solid var(--header);
    border-radius: 3px;
    font-size: $font-size-xs;
    flex-direction: column;
    width: 92vw;
    height: fit-content;
    justify-content: start;
    
    @media (min-width: $brk--md) {
      flex-direction: column;
      width: 40vw; 
    }
    
  }

  .code-description {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    @media (min-width: $brk--md) {
      width: 40vw;
      text-align: right;
      margin-left: 5px;
      h3 { margin: 0;}
    }
  }

  pre {
    margin: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    color: var(--code-example-text);
    .indent { 
      margin: 3px 0 3px 10px; 
      font-family: 'Courier New', Courier, monospace; 
      color: var(--code-example-text);
    }
    .indent-2 { 
      margin: 3px 0 3px 20px; 
      font-family: 'Courier New', Courier, monospace; 
      color: var(--code-example-text);
    }
  }

  code {
    font-family: 'Courier New', Courier, monospace;
    color: var(--code-example-text);
  }

  .comment { 
    font-style: italic; 
    color: var(--code-example-comment);
    flex-wrap: wrap;
    white-space: pre-wrap;
    word-break: break-word;
    margin-bottom: 3px;
  }

  .highlight-1 { 
    color: var(--code-example-highlight-1); 
    font-family: 'Courier New', Courier, monospace; 
  }
  
  .highlight-2 { 
    color: var(--code-example-highlight-2); 
    font-family: 'Courier New', Courier, monospace; 
  }

  .description {
    font-style: italic;
    color: var(--text-alt);
    
  }
}