footer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  margin-top: -35px;
  padding-bottom: 5px;
  background-color: var(--main-background);
  .foot-link {
    margin: 0 auto;
    color: var(--header);
    @include scroll-links;
    svg { fill: var(--header); }
  }
}