.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 5px;
  background-color: $blue-main;
  @media (min-width: $brk--md) { 
    @include border-lg-style;
  }
  
  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    @media (min-width: $brk--md) { width: 125px; }
    &--initials {
      display: flex;
      color: $blue-main;
      background-color: white;
      font-size: 3rem;
      padding: 5px;
      margin: 5px 5px 5px 0;
      border: 1px solid $blue-main;
      margin-bottom: 5px;
      width: fit-content;
      @media (min-width: $brk--md) {margin: 5px auto; }
    }

    &--menu-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      background-color: black;
      height: 56px;
      width: 56px;
      padding: 10px 15px;
      border-radius: 3px;
      .menu-button-bar {
        width: 33px;
        height: 4px;
        margin: 3px 0;
        background-color: white;
        justify-content: center;
      }
      @media (min-width: $brk--md) { display: none; }
    }
  }
  @media (min-width: $brk--md) {
    position: fixed;
    flex-direction: column;
    width: 135px;
    height: 100%;

  }
  
  &__links {
    display: none;

    @media (min-width: 992px) {
      display: flex;
      flex-direction: column;
      margin-top: 100px;
      margin-right: 0;
      height: 100%;
      width: 135px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      @include border-lg-style;
      
      overflow-x: hidden;
      &--list {
        width: 135px;
        display: flex;
        flex-direction: column;
        list-style: none;
        font-size: .875rem;
        li { margin: 10px 0;}
        text-align: center; 
        padding-left: 0;
        border: 1px solid $blue-main;
        border-left: none;
      }
    }

    &--social {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      button {
        @include icons;
        margin: 0;
        background-color: $blue-main;
        border: 1px solid transparent;
        border-radius: 5px;
        svg { fill: white; }
        &:hover {
          cursor: pointer;
          background-color: color-mix(in srgb, #{$blue-main} 85%, black 15%);
        }
      }
    }
    
  } 
  
  
}
