.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 5px;
  z-index: 1;
  background-color: var(--main-theme);
  @media (min-width: $brk--md) { 
    @include border-lg-style;
  }
  
  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    @media (min-width: $brk--md) { 
      width: 125px; 
      height: 139px; 
      display: flex; 
      flex-direction: column; 
      z-index: 100;
    }
    &--initials {
      display: flex;
      color: var(--main-theme);
      background-color: var(--white-same);
      font-size: 3rem;
      @media (min-width: $brk--md) { font-size: 4rem; }
      padding: 5px;
      margin: 5px 5px 5px 0;
      border: 1px solid var(--text-alt);
      border-radius: 5%;
      margin-bottom: 5px;
      width: fit-content;
      @media (min-width: $brk--md) {margin: 5px auto 8px auto; }
    }

    &--menu-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      background-color: black;
      height: 56px;
      width: 56px;
      padding: 10px 15px;
      border-radius: 3px;
      .menu-button-bar {
        width: 33px;
        height: 4px;
        margin: 3px 0;
        background-color: white;
        justify-content: center;
      }
      @media (min-width: $brk--md) { display: none; }
    }
  }
  @media (min-width: $brk--md) {
    position: fixed;
    flex-direction: column;
    width: 135px;
    height: 100%;

  }
  
  &__links {
    display: none;
    &.open {
      display: flex;
      flex-direction: column;
      background-color: var(--main-theme);
      .navbar__links--list {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        list-style: none;
        text-align: right;
        li { margin: 5px 0; }
      }
      .navbar__links--social { 
        margin: 5px 0;  
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 25vw;
        @media (min-width: $brk--sm) { width: 12vw; }
        margin-left: auto;
        button {
          background-color: var(--white-same);
          margin-right: 0;
          svg { fill: var(--main-theme); }
        }
      }
    }

    @media (min-width: 992px) {
      display: flex;
      flex-direction: column;
      background-color: var(--main-theme);
      margin-top: 110px;
      margin-right: 0;
      height: 100%;
      width: 135px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      @include border-lg-style;
      
      overflow-x: hidden;
      &--list {
        width: 135px;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 20px 0;
        font-size: .875rem;
        text-align: center; 
        padding-left: 0;
        border-left: none;
        
        li a { 
          display: flex;
          margin: 10px 0;
          justify-content: center;
          color: var(--white-same);
          text-decoration: none;
          &:hover { text-decoration:  underline; }
        }
      }
    }

    &--social {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      button {
        @include icons;
        margin: 0;
        background-color: var(--white-same);
        border: 1px solid transparent;
        border-radius: 5px;
        svg { fill: var(--main-theme); }
        @include button-hover;
      }
    }
  } 
  @include slider-style;
}
