* {
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
  font-weight: $font-weight--medium;
  color: $darkblue-headings;
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
}

body { 
  margin: 0; 
  //background-color: color-mix(in srgb, #{$blue-main} 30%, white 70%);
}

.wrapper {
  @media (min-width: 1200px) {
    width: 90%; // 1200px;
    margin: 0 auto;
    position: relative;
    background-color: white;
  }
}
main {
  margin-top: 80px;
  @media (min-width: $brk--md) {
    margin-top: 0;
    margin-left: 135px;
  }
  margin-bottom: 30px;
}