* {
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
  font-weight: $font-weight--medium;
  color: var(--header);
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  transition: background-color 0.4s ease, color 0.4s ease;
  scroll-behavior: smooth;
}

body { 
  margin: 0; 
  background-color: var(--main-background);
}

.wrapper {
  padding: 5px;
  @media (min-width: 1200px) {
    width: 90%;
    margin: 0 auto;
    position: relative;
    
  }
}
main {
  margin-top: 80px;
  @media (min-width: $brk--md) {
    margin-top: 0;
    margin-left: 135px;
  }
  margin-bottom: 30px;
}

.home-link {
    @include scroll-links;
    color: var(--header);
    svg { 
      fill: var(--header);
      margin-bottom: 5px;
     }
  }

  .navbar__buttons--initials { text-decoration: none; }

